.sidebar .nav .nav-item.nav-profile .nav-link .user-wrapper .profile-image {
  width: 100%;
  height: 100%;
}

.sidebar .nav .nav-item.nav-profile .nav-link .user-wrapper .profile-image img {
  border-radius: 0%;
  max-width: none;
}

.page-body-wrapper:not(.auth-page) {
  padding-top: 0px;
}

.auth.auth-bg-1 {
	background: url("../images/Ice-Cream-Love-Background-Wallpaper-08398.jpg");
	background-size: cover;	
}